@model IEnumerable<MotoBikeManage.Models.Supplier>

@{
    ViewBag.Title = "ListNCC";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<h2>ListNCC</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.address)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.phone)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.email)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.created_at)
        </th>
        <th></th>
    </tr>

</table>
