@model IEnumerable<MotoBikeManage.Models.Vehicle>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout_Staff.cshtml";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.brand)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.model)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.color)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.frame_number)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.engine_number)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.manufacture_year)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.status)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.created_at)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.brand)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.model)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.color)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.frame_number)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.engine_number)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.manufacture_year)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.status)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.created_at)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.vehicle_id }) |
            @Html.ActionLink("Details", "Details", new { id=item.vehicle_id }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.vehicle_id })
        </td>
    </tr>
}

</table>
